@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-image: url('../public/home-bg.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  position: absolute;
  top: 45%;
  left: 50%;
}

#header-route {
  display: flex;
  color: white;
  font-size: 2rem;
  position: absolute;
  top: 2%;
  left: 7.5%;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 5%;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(15, 13, 13);
  @apply h-screen;
}

svg:hover {
  fill: #5c5858;
}

#jakerz {
  position: absolute;
  top: 30%;
  left: 32%;
}

#content {
  width: 80%;
  height: 100vh;
  background-color: rgb(15, 13, 13, 0.8);
  margin: auto;
  margin-top: 5%;
  border-radius: 10px;
  box-shadow: 4em 4em 4em rgba(0, 0, 0, 0.5);
}

.expanded {
  width: 90vw;
  height: 90vh;
  background-color: rgb(15, 13, 13);
  margin: auto;
  border-radius: 10px;
  box-shadow: 4em 4em 4em rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 5%;
  left: 5%;
}

.hidden {
  display: none;
}

#gallery td {
  padding: 1rem;
  border-radius: 10px;
}